@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --brand-color: #95E1D3;
    --text-color: #B6B6B6;
    --button-color: white;
    --title-color: #333;
    --link-color: #F38181;
    --active-color: #f38181;
    --main-font: "Montserrat", serif;
    --text-font: "Roboto", serif;
    --sub-title-font: "Kaushan Script", serif;
}
body {
    font-family: var(--main-style);
    display: block;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

/*header*/
.header {
    padding: 15px 0 13px;
    margin: 17px auto 68px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: var(--brand-color);
}
.header-list{
    display: flex;
    justify-content: space-between;
    flex-direction: default;
    list-style: none;
    gap: 55px;
}
.header-link {
    color: var(--brand-color);
}
.header-link:active {
    color: var(--link-color);
}

/*services*/
.services {
    padding: 0;
    margin: 68px auto 100px;
}
.services-subtitle {
    text-align: center;
}
.services-title {
    text-align: center;
}
.services-list {
    display: flex;
    flex-flow: row wrap;
    gap: 69px;
}
.services-item {
    flex-basis: calc((100% - 138px) / 3);
}
.services-desc {
    color: var(--text-color);
}

/*team*/
.team {
    padding: 0;
    margin: 100px auto 80px;
}
.team-subtitle {
    text-align: center;
}
.team-title {
    text-align: center;
}
.team-post-text {
    color: var(--text-color);
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
.team-desc {
    text-align: center;
    color: var(--text-color);
}

/*footer*/
.footer {
    padding: 23px 0 10px;
    margin: 80px auto 10px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-link {
    color: var(--link-color);
}
.footer-button {
    background-color: var(--brand-color);
    color: var(--button-color);
}
.footer-button:active {
    background-color: var(--link-color);
}