@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --brand-color: #95E1D3;
    --text-color: #B6B6B6;
    --button-color: white;
    --title-color: #333;
    --link-color: #F38181;
    --active-color: #f38181;
    --main-font: "Montserrat", serif;
    --text-font: "Roboto", serif;
    --sub-title-font: "Kaushan Script", serif;
}
body {
    font-family: var(--main-font);
    display: block;
    font-weight: 400;
    font-size: 14px;
}
.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

/*header*/
.header {
    padding: 17px 0 15px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    color: var(--brand-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
}
.header-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 55px;
}
.header-link {
    color: var(--brand-color);
}
.header-link:hover {
    color: var(--link-color);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--active-color);
}

/*services*/
.services {
    padding: 68px 0 100px;
}
.services-subtitle {
    color: var(--title-color);
    font-family: var(--sub-title-font);
    font-size: 24px;
    text-align: center;
}
.services-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 30px;
    margin: 20px auto 65px;
    font-variant: small-caps;
    text-align: center;
}
.services-title::after {
    content: "";
    border: 2px solid var(--active-color);
    display: block;
    width: 60px;
    margin: 40px auto 0;
}
.services-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 100px;
    column-gap: 69px;
}
.services-item {
    flex-basis: calc((100% - 138px) / 3);
}
.services-article {
    display: flex;
    gap: 20px;
}
.services-vector {
    flex-shrink: 0;
    width: 37px;
    height: 37px;
}
.services-symbol {
    fill: var(--brand-color);
}
.services-wrap {
    display: flex;
    flex-direction: column;
}
.services-headline {
    color: var(--title-color);
    margin-bottom: 20px;
    font-variant: small-caps;
}
.services-desc {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
}

/*team*/
.team {
    padding-bottom: 80px;
}
.team-subtitle {
    font-family: var(--sub-title-font);
    color: var(--title-color);
    font-size: 24px;
    text-align: center;
}
.team-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 30px;
    margin:17px auto 45px;
    font-variant: small-caps;
    text-align: center;
}
.team-title::after {
    content: "";
    border: 2px solid var(--active-color);
    display: block;
    width: 60px;
    margin: 36px auto 0;
}
.team-text {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 15px;
    text-align: center;
    margin-bottom: 27px;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
.team-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.team-image {
    overflow: hidden;
    }
.team-item:hover .team-overlay::before {
    opacity: 1;
}
.team-overlay::before {
    content: "";
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    top: -10px;
    left: -10px;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
}
.team-name {
    color: var(--title-color);
    padding-top: 30px;
    text-align: center;
    font-variant: small-caps;
}
.team-desc {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 15px;
    padding-top: 11px;
    font-style: italic;
    text-align: center;
}

/*footer*/
.footer {
    padding-bottom: 10px;
}
.footer-container {
    border-top: 1px solid var(--text-color);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright {
    color: var(--title-color);
    font-size: 14px;
    text-align: center;
}
.footer-link {
    color: var(--link-color);
}
.footer-form {
    display: flex;
}
.footer-email {
    border: 1px solid var(--text-color);
    font-family: var(--text-font);
    padding: 12px 10px 11px;
    font-size: 14px;
    border-radius: 0;
    width: 230px;
    font-weight: 300;
    font-style: italic;
    border-right-width: 0;
}
.footer-button {
    background-color: var(--brand-color);
    color: var(--button-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    padding: 11px 38px 12px;
    width: 150px;
    height: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
}
.footer-button:hover {
    background-color: var(--link-color);
}