@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --brand-color: #95E1D3;
    --text-color: #B6B6B6;
    --button-color: white;
    --title-color: #333;
    --link-color: #F38181;
    --active-color: #f38181;
    --main-font: "Montserrat", serif;
    --text-font: "Roboto", serif;
    --sub-title-font: "Kaushan Script", serif;
}
body {
    font-family: var(--main-style);
}
.container {
    width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
}

/*header*/
.header {
    margin-top: 17px;
    margin-bottom: 68px;
    padding: 0 auto 12px;
}
.header-logo {
    color: var(--brand-color);
}
.header-list{
    display: flex;
    justify-content: space-between;
    flex-direction: default;
    gap: 55px;
}
.header-link {
    color: var(--brand-color);
}
.header-link:active {
    color: var(--link-color);
}

/*services*/
.services {
    margin-top: 68px;
    margin-bottom: 100px;
    padding: 0;
}
.services-subtitle {
    text-align: center;
}
.services-title {
    text-align: center;
}
.services-list {
    display: flex;
    flex-flow: row wrap;
}
.services-article {
    width: 331.7798156738281;
}
.services-desc {
    color: var(--text-color);
}

/*team*/
.team {
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 0;
}
.team-subtitle {
    text-align: center;
}
.team-title {
    text-align: center;
}
.team-post-text {
    color: var(--text-color);
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.team-desc {
    text-align: center;
    color: var(--text-color);
}

/*footer*/
.footer {
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px auto 0px;
}
.footer-link {
    color: var(--link-color);
}
.footer-button {
    background-color: var(--brand-color);
    color: var(--button-color);
}
.footer-button:active {
    background-color: var(--link-color);
}