@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --brand-color: #95E1D3;
    --text-color: #B6B6B6;
    --button-text-color: white;
    --title-color: #333;
    --link-color: #F38181;
    --main-font: "Montserrat", serif;
    --text-font: "Roboto", serif;
    --post-title-font: "Kaushan Script", serif;
}
body {
    font-family: var(--main-style);
    width: 1600;
}
a.logo, nav ul li a {
    color: var(--brand-color);
}
a.logo:hover, nav ul li a:hover {
    color: var(--a-color);
}
button {
    background-color: var(--brand-color);
    color: white;
}
p, input, h2 + p{
    color: #B6B6B6;
}
h2, h3, section > p:nth-child(-n+2){
    color: var(--h3-color);
}
p a {
    color: #F38181;
}
div.container {
    width: 1170px:
}
p.subtitle, h2.title{
    color: var(--h2-color);
    text-align: center;
}
/*container*/
div.container:nth-child(1) {
    margin-top: 0;
    margin-bottom: 68px;
}
div.container:nth-child(2) {
    margin-top: 68px;
    margin-bottom: 100px;
}
div.container:nth-child(3) {
    margin-top: 100px;
    margin-bottom: 80px;
}
div.container:nth-child(4) {
    margin-top: 80px;
    margin-bottom: 0;
}
/*flex-box*/
header.header div.container {
    display: flex;
    justify-content: space-around;
}

header.header div.container ul.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: default;
}
main.main section.services div.container ul.service-list {
    display: flex;
    flex-flow: row wrap;
}
main.main section.team div.container ul.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}